<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signuptable</title>
        <table border="2">
        <tr >
            <th> name</th>
            <th>username</th>
            <th>password</th>
            <th>confirmpassword</th>
            
        </tr>
        {% for i in info %}
        <tr>
            <td>{{ i.name}}</td>
            <td>{{ i.username }}</td>
            <td>{{ i.password}}</td>
            <td>{{ i.confirmpassword}}</td>
            
          
        </tr>

        {% endfor %}
    </table>
</head>
<body>
    
</body>
</html>